<!DOCTYPE html>
<html>
  <head>
    <title>home</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>home</h1>
    <p>Welcome to home</p>
    <a href="/signout">sign out</a>
  </body>
</html>
